[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pylint = "*"
pylint-django = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
coverage = "*"
requests = "*"
sparqlwrapper = "*"

[requires]
python_version = "3.7"
